.root{
    -fx-base:#101010;
    -fx-background-color:#101010;

    /** コントロール選択時の縁の色 **/
    -fx-focus-color: #ffc107;
    -fx-faint-focus-color: #ffc10722;

}

.header{
    -fx-background-color:#505050;
}

TimelinePanel .odd{
    -fx-bacground-color: #333333;
}

TimelinePanel .even{
    -fx-background-color: #444444;
}

FileItem{
    -fx-border-width: 1;
    -fx-border-color: #202020;
}

FileItem Text{
    -fx-fill: white;
}

FileItem:hover{
    -fx-border-color: #303030;
    -fx-background-color:#202020;
}

FileItem:focused{
    -fx-border-color: #303030;
    -fx-background-color:#ffca28;
}